body{
    background-color: #050038;
    font-family: Arial, sans-serif;
    line-height: 1.6;
    margin: 0;
    padding: 0;
}

pre {
    font-size: 1.2em;
    color: #3F53D9;
    padding: 20px;
    margin: auto;
    width: 80vw
}

#subnetForm {
    margin: auto;
    padding: 20px;
    background-color: #3F53D9;
    border-radius: 10px;

    width: 60vw;
}
#btnSubmit{
    background: #455cf8;
    color: white;
    /* border-style: outset; */
    border-color: #0066A2;
    height: 50px;
    width: 100px;
    font: bold 15px arial, sans-serif;
    text-shadow: none;
}

#result{
    margin: auto;
    padding: 20px;
    background-color: #3F53D9;
    border-radius: 10px;

    width: 60vw;
    margin-top: 30px;
}